<div class="movie-card">
  <div class="poster-container">
    <div *ngIf="displayDetails === false" class="front">
      <img
        class="movie-poster"
        src="https://image.tmdb.org/t/p/w500{{ movieRef.poster_path }}"
        alt="movie poster"
      />
      <p class="movie-title">{{ movieRef.title }}</p>
    </div>

    <div *ngIf="displayDetails === false" class="back">
      <button class="details-btn" (click)="toggleCard()">See Details</button>
      <i class="fas fa-heart heart"></i>
    </div>

    <div class="background"></div>
  </div>
  <div *ngIf="displayDetails === true" class="details-container">
    <p class="details-title">{{ movieRef.title }}</p>
    <p>Summary:{{ movieRef.overview }}</p>
    <p>Release Date:{{ movieRef.release_date }}</p>
    <p>Rating:{{ movieRef.vote_average }}</p>
    <button (click)="toggleCard()">Close Details</button>
  </div>
</div>
