.watchlist-instructions {
  text-align: center;
  color: magenta;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
