/* .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 20px;
} */

/* 
 possible scrollable div for desktop

.card-container {
  height: 440px;
  width: 415px;
  overflow-y: auto;
  float: left;
  position: relative;
  margin-left: -5px;
} */

/* @media (min-width: 780px) {
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0;
  }
} */
