<div class="form-container">
  <form
    #searchForm="ngForm"
    (ngSubmit)="emitSearchTerm(searchForm)"
    class="form"
  >
    <label for="searchTerm"></label>Search:
    <input
      type="text"
      name="searchTerm"
      id="searchTerm"
      class="input"
      ngModel
    />
    <button class="button">Submit</button>
  </form>

  <form #genreForm="ngForm" (ngSubmit)="emitGenre(genreForm)" class="form">
    <label for="genre">Genre: &nbsp;</label>

    <select name="genre" id="genre" class="select" ngModel>
      <option *ngFor="let genre of genres?.genres" value="{{ genre.id }}">
        {{ genre.name }}
      </option>
    </select>
    <button class="button">Submit</button>
  </form>

  <form #ratingForm="ngForm" (ngSubmit)="emitAverage(ratingForm)" class="form">
    <label for="rating">Rating: </label>

    <select name="rating" id="rating" class="select" ngModel>
      <option value=""></option>
      <option value="8">⭐⭐⭐⭐⭐</option>
      <option value="7">⭐⭐⭐⭐</option>
      <option value="6">⭐⭐⭐</option>
      <option value="5">⭐⭐</option>
      <option value="0">⭐</option>
    </select>

    <button class="button">Submit</button>
  </form>
</div>
