.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(228, 233, 237, 0.8);
  padding: 10px;
  margin: 10px 60px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .form-container {
    position: absolute;
    top: 7.3%;
    margin-left: 38.5%;
  }
}
